<div class="row">
  <div class="col-8 offset-2">
     <div class="card">
         <div class="card-header">
             <h3>Insurance Report</h3>
         </div>
         <div class="card-body">
             <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-3">
                  <select class="form-select" name="planName" [(ngModel)]="selectedPlan">
                    <option selected value="---SELECT---" disabled>Select a Plan Name</option>
                    <option value="">All Plans</option>
                    <option value="{{planName}}" *ngFor="let planName of planNames">{{planName}} </option>
                  </select>
                </div>
                <div class="col-3">
                  <select class="form-select" name="planStatus" [(ngModel)]="selectedStatus">
                    <option selected value="---SELECT---" disabled>Select a Plan Status</option>
                    <option value="" > All Status</option>
                    <option *ngFor="let planStatus of planStatuses" value="{{planStatus}}">{{planStatus}}</option>
                  </select>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search" aria-hidden="true"></i> Search
                  </button>
                </div>
              </div>
             </form>
             <div class="row">
              <div class="col-10 offset-1">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Plan Name</th>
                      <th>Mobile</th>
                      <th>Email</th>
                      <th>Gender</th>
                      <th>SSN</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let response of searchResponse">
                      <td>{{response.name}}</td>
                      <td>{{response.mobile}}</td>
                      <td>{{response.email}}</td>
                      <td>{{response.gender}}</td>
                      <td>{{response.ssn}}</td>

                    </tr>
                  </tbody>
                </table>
              </div>
             </div>
         </div>
     </div>
     <div class="card-footer">
      <div class="row">
        <div class="col-4 offset-8">
          <div class="row">
            <div class="col-5 offset-2">
              <button class="btn btn-success" (click)="exportToExcel()">
                Export <i class="fa fa-file-excel-o" aria-hidden="true"></i>
              </button>
            </div>
            <div class="col-5">
              <button class="btn btn-success" (click)="exportToPdf()">
                Export <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>

      </div>
     </div>
 
  </div>
 </div>
 