<h1>Registration Form</h1>

UserName : <input type="text" [(ngModel)]="username" /> <br/>
Password : <input type="password" [(ngModel)]="password" /> <br/>
ConfirmPassword : <input type="password" [(ngModel)]="confirmPassword" /> <br/>
Gender      : <input type="radio"  [(ngModel)]="gender" value="Male"/>Male
                    <input type="radio"  [(ngModel)]="gender" value="Female"/>Female<br/>
Country     : <select [(ngModel)]="country">
<option>India</option>
<option>USA</option>
<option>UK</option>
<option>China</option>
<option>Russia</option>
</select><br/>

<input type="checkbox" [(ngModel)]="licenseAgreement"/>I accept license agreement. <br>
<input type="submit" value=" Register" (click)="registerClick()" />
<hr/>

<div [innerHTML]="msg"></div>