<h1>Contact List</h1>
{{delMsg}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>MobileNo</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>{{contact.contactId}}</td>
            <td>{{contact.contactName}}</td>
            <td>{{contact.contactEmail}}</td>
            <td>{{contact.contactNo}}</td>
            <td>
                <button (click)="editContact(contact.contactId)" class="btn btn-info">Edit</button>&nbsp;
                <button (click)="deleteContact(contact.contactId)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>